@import url("https://fonts.googleapis.com/css2?family=Kaisei+Decol&family=Manrope&display=swap");

* {
  box-sizing: "border-box";
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Roboto", serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #111010;
  color: #fff;
}

main {
  max-width: 650px;
}
